**/.git
ansible/**/*
ansible
#backend/vendor/**/*
#backend/vendor
backend/composer.lock
backend/web/images/**/*
backend/web/images
backend/runtime/**/*
backend/runtime
docs/**/*
docs
#frontend/vendor/**/*
#frontend/vendor
frontend/composer.lock
frontend/web/images/**/*
frontend/web/images
frontend/runtime/**/*
frontend/runtime
nodejs/**/*
nodejs
themes/**/*
themes
.git/
.github/
