REPO: /root/sources
vpngw: "vpngw.example.red"
egress_if: "vio0"
targets_if: "vio1"
targets_if_ipv4: "10.0.0.254"
targets_subnet: "10.0.0.0"
targets_netmask: "255.255.0.0"
echoCTF_VPN_mgmt_passwd: "openvpn"
offense_network: "10.10.0.0/16"
db_host: "10.7.0.253"
db_name: "echoCTF"
db_user: "vpnuser"
db_pass: "vpnuserpass"
interconnect_interface: vio2
interconnect_interface_ip: 10.7.0.254
## Memcache port
memc_port: 11211

# List of files we take backups. This is simple tar.gz files of the folders
backups:
  - { tgz: "/altroot/root.tgz", src: '/root' }
  - { tgz: "/altroot/etc.tgz", src: '/etc'  }
  - { tgz: "/altroot/home.tgz", src: '/home'  }
  - { tgz: "/altroot/var.tgz", src: '/var' }
  - { tgz: "/altroot/usrlocal.tgz", src: '/usr/local' }
  - { tgz: "/altroot/echoctf-federated.tgz", src: '/altroot/echoctf-federated.sql' }

# Commands to execute priot to backup
pre_backups:
  - "mysql -e 'PURGE BINARY LOGS BEFORE NOW()'"
  - "mysqldump --no-data echoCTF > /altroot/echoctf-federated.sql"

