#!/bin/ksh
#
# $OpenBSD: rc.template,v 1.12 2018/01/11 19:30:18 rpe Exp $

export GOPATH={{registry.home}}/go
daemon="/usr/local/sbin/registry"
daemon_flags="serve /etc/docker-registry.yml"
daemon_user="{{registry.user}}"
export REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY={{registry.storage}}

. /etc/rc.d/rc.subr

rc_start() {
   nohup ${rcexec} "${daemon} ${daemon_flags}" >/dev/null 2>&1 &
}

rc_cmd $1
