// Bootstrap brand color customization


/*     brand Colors              */
$echoctf-black: #222222;
$echoctf-green: #94c11f;
//$echoctf-green-light: #dedc00;
$echoctf-green-dark: #688816;
$body-bg: $echoctf-black !default;
$body-color: $grey-400 !default;

$brand-primary:              $echoctf-green !default;
$brand-primary-dark:        $echoctf-green-dark !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;

/* CARD customizations */
$card-background:           $grey-100 !default;
$navbar-color: $grey-400 !default

/* Overload bootstrap default colors */
$primary:         $echoctf-green !default;
$secondary:       $echoctf-green-dark !default;
$success:         $green-500 !default;
$info:            $cyan-500 !default;
$warning:         $orange-500 !default;
$danger:          $red-500 !default;
$dark:            $echoctf-black !default;
$light:           $grey-100 !default;
$code-color:      #9dd50b !default;
$code-font-size:  100% !default;

//$font-family-sans-serif: 'Roboto Mono', 'Helvetica', 'Arial', sans-serif !default;
//$font-family-serif:      'Roboto Mono', 'Times New Roman', serif !default;
$font-family-monospace:      'Roboto Mono',Menlo, Monaco, Consolas, "Courier New", monospace !default;


//$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
//$font-size-lg:                ($font-size-base * 1.25) !default;
//$font-size-sm:                ($font-size-base * .875) !default;
//
//$font-weight-light:           300 !default;
//$font-weight-normal:          400 !default;
//$font-weight-bold:            700 !default;
//
//$font-weight-base:            $font-weight-normal !default;
//$line-height-base:            1.5 !default;
//
//$h1-font-size:                $font-size-base * 2.5 !default;
//$h2-font-size:                $font-size-base * 2 !default;
//$h3-font-size:                $font-size-base * 1.75 !default;
//$h4-font-size:                $font-size-base * 1.5 !default;
//$h5-font-size:                $font-size-base * 1.25 !default;
//$h6-font-size:                $font-size-base !default;
