#!/usr/bin/env ansible-playbook
---
- name: Submit targets to mUI
  hosts: all
  order: inventory
  connection: local
  gather_facts: false
  serial: 1
  tasks:
  - name: Retrieve host target_id if exists
    delegate_to: 127.0.0.1
    register: target
    uri:
      url: "{{mui.URL}}/index.php?r=restapi/target/get-by-ip&ip={{ansible_host}}&access-token={{TOKEN}}"
      validate_certs: false
      method: GET
    tags:
      - UI

  - debug:
      var: target
      verbosity: 0
    delegate_to: 127.0.0.1
    when: DEBUG is defined

  - setup:
    delegate_to: 127.0.0.1

  - set_fact:
      target_id: "{{target.json.id}}"
    when: target.status == 200 and target.json is defined and target.json.id is defined
    delegate_to: 127.0.0.1

# Create target if not exists
  - name: create mui system target
    delegate_to: 127.0.0.1
    register: newtarget
#    ignore_errors: true
    when: target_id is undefined and ansible_host is defined and mac is defined and hostname is defined and fqdn is defined and container is defined
    tags:
      - UI
    uri:
      url: "{{mui.URL}}/index.php?r=restapi/target/create&access-token={{TOKEN}}"
      method: POST
      validate_certs: false
      body_format: json
      body:
        name: '{{hostname}}'
        fqdn: '{{fqdn}}'
        purpose: '{{purpose}}'
        rootable: "{{rootable|default('0')}}"
        healthcheck: "{{healthcheck|default('1')}}"
        category: "{{category|default('')}}"
        timer: "{{timer|default('1')}}"
        player_spin: "{{player_spin|default('1')}}"
        headshot_spin: "{{headshot_spin|default('1')}}"
        writeup_allowed: "{{writeup_allowed|default('1')}}"
        instance_allowed: "{{instance_allowed|default('1')}}"
        description: '{{description|default("")}}'
        ipoctet: '{{ansible_host}}'
        difficulty: "{{difficulty|default('0')}}"
        mac: '{{mac}}'
        net: '{{container.networks[0].name}}'
        server: 'tcp://{{DOCKER}}:2376'
        imageparams: "{{imageparams|default(omit)}}"
        active: "{{ '0' if (scheduled_at is defined) else '1' }}"
#        active: '{{active|default("0")}}'
        status: "{{ 'powerup' if (scheduled_at is defined) else 'online' }}"
        dns: "{{container.dns_servers[0]|default('8.8.8.8')}}"
        scheduled_at: "{{ scheduled_at|default(omit) }}"
#        scheduled_at: "{{scheduled_at| default('%Y-%m-%d 00:00:00' | strftime( ( ansible_date_time.epoch | int ) ) ) }}"
        image: '{{DOCKER_REGISTRY}}/{{DOCKER_REPOSITORY}}/{{container.image | lower}}:{{container.tag|default("latest")}}'
      status_code: 201

# Add network if defined
  - set_fact:
      target_id: "{{newtarget.json.id}}"
    when: container is defined and newtarget is defined and newtarget.json is defined and newtarget.json.id is defined
    delegate_to: 127.0.0.1

  - name: Add target to network (if set)
    delegate_to: 127.0.0.1
    tags:
      - UI
    when: target_id is defined and network is defined
    uri:
      url: "{{mui.URL}}/index.php?r=restapi/target/add-to-network&id={{target_id}}&codename={{network}}&access-token={{TOKEN}}"
      validate_certs: false
      method: GET
      body_format: json
      status_code: [201,200]

  - name: create metadata for target
    delegate_to: 127.0.0.1
#    ignore_errors: true
    tags:
      - UI
    when: target_id is defined and metadata is defined
    uri:
      url: "{{mui.URL}}/index.php?r=restapi/target-metadata/create&access-token={{TOKEN}}"
      validate_certs: false
      method: POST
      body_format: json
      body:
        target_id: "{{target_id}}"
        scenario: "{{metadata.scenario|default('')}}"
        instructions: "{{metadata.instructions|default('')}}"
        solution: "{{metadata.solution|default('')}}"
        pre_credits: "{{metadata.pre_credits|default('')}}"
        post_credits: "{{metadata.post_credits|default('')}}"
        pre_exploitation: "{{metadata.pre_exploitation|default('')}}"
        post_exploitation: "{{metadata.post_exploitation|default('')}}"
      status_code: [201, 200]

  - name: create Target Ondemand
    delegate_to: 127.0.0.1
#    ignore_errors: true
    tags:
      - UI
    when: target_id is defined and TargetOndemand is defined and ( TargetOndemand != 0 and TargetOndemand != false )
    uri:
      url: "{{mui.URL}}/index.php?r=restapi/target-ondemand/create&access-token={{TOKEN}}"
      validate_certs: false
      method: POST
      body_format: json
      body:
        target_id: "{{target_id}}"
        player_id: ""
      status_code: [201, 200]

  - name: create Network Target Schedule
    delegate_to: 127.0.0.1
#    ignore_errors: true
    tags:
      - UI
    when: target_id is defined and NetworkTargetSchedule is defined
    uri:
      url: "{{mui.URL}}/index.php?r=restapi/network-target-schedule/create&access-token={{TOKEN}}"
      validate_certs: false
      method: POST
      body_format: json
      body:
        target_id: "{{target_id}}"
        network_id: "{{item.network_id|default('')}}"
        migration_date: "{{item.migration_date}}"
      status_code: [201, 200]
    with_items: "{{NetworkTargetSchedule}}"

  - name: create variables for target
    delegate_to: 127.0.0.1
#    ignore_errors: true
    with_dict: "{{container.env}}"
    tags:
      - UI
    when: target_id is defined and container.env is defined #and item.hint is defined
    uri:
      url: "{{mui.URL}}/index.php?r=restapi/targetvariable/create&access-token={{TOKEN}}"
      validate_certs: false
      method: POST
      body_format: json
      body:
        target_id: "{{target_id}}"
        key: "{{item.key}}"
        val: "{{item.value}}"
      status_code: 201


  - name: create finding for target
    delegate_to: 127.0.0.1
#    ignore_errors: true
    register: finding
    with_items: "{{ETSCTF_FINDINGS}}"
    tags:
      - UI
    when: target_id is defined and ETSCTF_FINDINGS is defined #and item.hint is defined
    uri:
      url: "{{mui.URL}}/index.php?r=restapi/finding/create&access-token={{TOKEN}}"
      validate_certs: false
      method: POST
      body_format: json
      body: "{{item|combine({'target_id': target_id})}}"
      status_code: 201
#      return_content: no
#      HEADER_Cookie: "{{login.set_cookie}}"
### CREATE VOLUMES
### CREATE VARIABLES
### CREATE HINTS
#  - debug:
#      var: finding
#    delegate_to: 127.0.0.1

  - name: create mui system treasures with hints
    delegate_to: 127.0.0.1
    tags:
      - UI
    with_items: "{{ETSCTF_TREASURES}}"
    when: target_id is defined and ETSCTF_TREASURES is defined
    uri:
      url: "{{mui.URL}}/index.php?r=restapi/treasure/create-with-actions&access-token={{TOKEN}}"
      validate_certs: false
      method: POST
      body_format: json
      body: "{{item|combine({'target_id': target_id , 'appears': item.stock })}}"
      status_code: 201,302,500
