authority letsencrypt {
  api url "https://acme-v02.api.letsencrypt.org/directory"
  account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
  api url "https://acme-staging-v02.api.letsencrypt.org/directory"
  account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

authority buypass {
  api url "https://api.buypass.com/acme/directory"
  account key "/etc/acme/buypass-privkey.pem"
  contact "mailto:info@{{item.domain}}"
}

authority buypass-test {
  api url "https://api.test4.buypass.no/acme/directory"
  account key "/etc/acme/buypass-test-privkey.pem"
  contact "mailto:info@{{item.domain}}"
}

domain {{item.domain}} {
	domain key "/etc/nginx/{{item.domain}}-server.key"
	domain full chain certificate "/etc/nginx/{{item.domain}}-server.crt"
  sign with letsencrypt
}