#
# $OpenBSD: acme-client.conf,v 1.2 2019/06/07 08:08:30 florian Exp $
#
authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
	api url "https://acme-staging-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

domain {{item.domain}} {
	domain key "/etc/nginx/{{item.domain}}-server.key"
	domain full chain certificate "/etc/nginx/{{item.domain}}-server.crt"
	sign with letsencrypt
}
