<?php

return [
    'class' => 'yii\db\Connection',
    'dsn' => 'mysql:host={{item.host}};dbname={{item.dbname}}',
    'username' => '{{item.username}}',
    'password' => '{{item.password}}',
    'charset' => 'utf8',

    // Schema cache options (for production environment)
    //'enableSchemaCache' => true,
    //'schemaCacheDuration' => 60,
    //'schemaCache' => 'cache',
];
