# Allow moderators to access the service even when in maintenance
pass quick on egress inet proto udp from <moderators> to (egress:0) port 1194 label "OpenVPN"

# Dont allow
pass quick on egress inet proto udp from !<maintenance> to (egress:0) port 1194 label "OpenVPN"

anchor "targets/*"
anchor "offense/*"
anchor "networks/*"

load anchor "targets" on targets from "/etc/targets_anchor.conf"
load anchor "offense" on tun from "/etc/offense_anchor.conf"
load anchor "offense/findings" from "/etc/match-findings-pf.conf"
load anchor "networks" from "/etc/targets_networks.conf"

anchor "targets" on targets {
  # allow registry clients to have access to the internet
  pass quick inet from <registry_clients> to !(self)
  # allow targets to query the dns server on the targets interface
  pass quick inet proto {tcp, udp} from <targets> to (targets:0) port 53
  # allow registry_clients to query the dns server on the targets interface
  pass quick inet proto {tcp, udp} from <registry_clients> to (targets:0) port 53
  # allow registry_clients to contact private registries
  pass quick inet proto tcp from <registry_clients> to <registry_servers> port 5000
  # allow targets to communicate with offense_activated network
  pass from <targets> to <offense_activated>
}


anchor "offense" on tun {
	anchor "findings"
	anchor "allowed" from <offense_network> to (tun) {
		# allow ping on connected players interface for troubleshooting
		pass in inet proto icmp
	}
  # block targets from connecting to the VPN interface
	block quick from <targets> to 10.10.0.1
  # Allow targets to connect back to offense activated
	pass from <targets> to <offense_activated>
}

pass quick inet to <targets> tagged OFFENSE_REGISTERED allow-opts received-on tun keep state

pass quick inet proto tcp from <docker_clients> to <docker_servers> port {2376}

pass quick on interconnect from interconnect:network label "interconnect"
