name: ci-merged-pull_requests

on:
  pull_request:
    types: [ closed ]
    branches: [ master ]
    paths-ignore:
    - '**.md'
    - '.mkdocs.yml'
    - 'docs/**'

jobs:
  phpcomposer:
    if: github.event.pull_request.merged == 'true'

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - name: Check if packagist is up and if not use a mirror...
      run: nc -N -w1 asset-packagist.org 443 || composer config -g repos.packagist composer https://packagist.fi

    - name: Configure github token
      run: composer config -g github-oauth.github.com "${{ secrets.GITHUBOAUTHTOKEN }}"


    - name: Validate frontend composer.json and composer.lock
      run: |
        cd frontend
        composer validate

    - name: Validate backend composer.json and composer.lock
      run: |
        cd backend
        composer validate


    - name: Install frontend dependencies
      run: |
        cd frontend
        php7.4 /usr/bin/composer update --no-dev --prefer-dist --no-progress

    - name: Install backend dependencies
      run: |
        cd backend
        php7.4 /usr/bin/composer update --no-dev --prefer-dist --no-progress

  dockerbuilds:
    if: github.event.pull_request.merged == 'true'
    needs: [phpcomposer]
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - name: Enable experimental docker features
      run: |
        echo $'{\n    "experimental": true\n}' | sudo tee /etc/docker/daemon.json
        sudo service docker restart

    - name: Build the all-in-one Docker image
      run: docker build --squash . --file contrib/Dockerfile --tag echoctf.red-all-in-one:$(date +%s)
    - name: Build the DB Docker image
      run: docker build --squash . --file contrib/Dockerfile-mariadb --tag echoctf.red-db:$(date +%s)
    - name: Build the frontend Docker image
      run: docker build --squash . --file contrib/Dockerfile-frontend --tag echoctf.red-frontend:$(date +%s)
    - name: Build the backend Docker image
      run: docker build --squash . --file contrib/Dockerfile-backend --tag echoctf.red-backend:$(date +%s)
    - name: Build the vpn Docker image
      run: docker build --squash . --file contrib/Dockerfile-vpn --tag echoctf.red-vpn:$(date +%s)

    - name: Build the docker-compose stack
      run: docker-compose up -d

    - name: Check running containers
      run: docker ps -a

    - name: Drop containers
      run: docker-compose down --rmi all

    - name: Build the docker-compose-novpn.yml stack
      run: docker-compose -f docker-compose-novpn.yml up -d

    - name: Check running containers
      run: docker ps -a

    - name: Drop containers
      run: docker-compose down --rmi all
