name: ci-pull_requests

on:
  pull_request:
    types: [ opened, edited, reopened, synchronize ]
    branches: [ master ]
    paths-ignore:
    - '**.md'
    - '.mkdocs.yml'
    - 'docs/**'

jobs:
  phpcomposer:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Check if packagist is up and if not use a mirror...
      run: nc -N -w1 asset-packagist.org 443 || composer config -g repos.packagist composer https://packagist.fi
      
    - name: Configure github token
      run: composer config -g github-oauth.github.com "${{ secrets.GITHUBOAUTHTOKEN }}"

    - name: Validate frontend composer.json and composer.lock
      run: |
        cd frontend
        composer validate

    - name: Validate backend composer.json and composer.lock
      run: |
        cd backend
        composer validate

    - name: Install frontend dependencies
      run: |
        cd frontend
        php7.4 /usr/bin/composer update --no-dev --prefer-dist --no-progress

    - name: Install backend dependencies
      run: |
        cd backend
        php7.4 /usr/bin/composer update --no-dev --prefer-dist --no-progress
