name: ci-pull_requests

on:
  pull_request:
    types: [ opened, edited, reopened, synchronize ]
    branches: [ master ]
    paths-ignore:
    - '*.md'
    - '**/*.md'
    - '.mkdocs.yml'
    - 'docs/**'

jobs:
  docker:
    runs-on: ubuntu-24.04
    env:
      DOCKER_BUILDKIT: 0
      BUILDKIT_PROGRESS: plain

    steps:
    - name: Setup PHP with PECL extension
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        extensions: imagick, gd, mysqli, pdo, intl, mbstring, gmp, mcrypt, bcmath
        tools: composer:v2

    - uses: actions/checkout@v6

    - name: Configure github token
      run: composer config -g github-oauth.github.com "${{ secrets.GITHUB_TOKEN }}"

    - name: Validate frontend composer.json and composer.lock
      run: composer validate -d frontend

    - name: Validate backend composer.json and composer.lock
      run: composer validate -d backend

    - name: Install frontend dependencies
      run: composer update --no-dev --prefer-dist --no-progress -d frontend

    - name: Install backend dependencies
      run: composer update --no-dev --prefer-dist --no-progress -d backend

#    - name: Build the all-in-one Docker image
#      run: docker build --no-cache . --file contrib/Dockerfile --tag echothrust/echoctf.red-all-in-one:latest
    - name: Build the DB Docker image
      run: docker build --no-cache . --file contrib/Dockerfile-mariadb --tag echothrust/echoctf.red-db:latest
    - name: Build the frontend Docker image
      run: docker build --no-cache . --file contrib/Dockerfile-frontend --tag echothrust/echoctf.red-frontend:latest
    - name: Build the backend Docker image
      run: docker build --no-cache . --file contrib/Dockerfile-backend --tag echothrust/echoctf.red-backend:latest
    - name: Build the vpn Docker image
      run: docker build  --no-cache . --file contrib/Dockerfile-vpn --tag echothrust/echoctf.red-vpn:latest
